body {
  background-color: rgb(37, 37, 38);
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

#dice {
  position: absolute;
  left: 2vw;
  top: 80vh;
  font-size: 42px;
  font-weight: bold;
  text-shadow: -1px -1px 0 black;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expander {
  0% {
    fill-opacity: 1;
    r:15px
  }
  50% {
    fill-opacity: 0;
    r:10px;
  }
  100% {
    fill-opacity: 1;
    r:15px;
  }
}

.blink {
  animation: blinker 1.3s linear infinite;
  background-color: white;
}
.gitiActive{
  animation: expander 1.3s linear infinite;
}